@model MVCAdressBook.Models.PersonModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId },null) |
    @Html.ActionLink("Back to List", "Index")
</p>
