@model IEnumerable<MVCAdressBook.Models.PersonModels>

@{
    ViewBag.Title = "Index";
}

@{var ajaxOptions = new AjaxOptions
    {
        Confirm = "Are you sure you want to delete the person?",
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "result"

    };
}
<h2>Adress List</h2>

@using (Ajax.BeginForm("Create", ajaxOptions))


{<p>
    @Html.ActionLink("Create New", "Create")
</p>}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.PersonId}) |
                @Html.ActionLink("Details", "Details", new {id = item.PersonId}) |
                @Ajax.ActionLink("Delete", "Delete", new {id = item.PersonId}, ajaxOptions)
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
